.contact-section {
  &__title {
    margin: 3rem 0 4rem 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 5rem;
    text-align-last: center;
  }

  &__body {
    @include standard-font;
  }

  &__social-links {
    display: block;

    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 4rem auto 2.5rem auto;
    width: 80%;

    @include respond(sm) {
      margin: 3.5rem 1vw 2rem 1vw;
      display: block;
      text-align: left;
      width: 100%;
    }

    i {
      margin-right: 5vw;
      color: $light-font;
      font-size: 2rem;

      &:hover {
        @include light-to-dark;
      }
    }
  }
}

.contact-form {
  margin: 3.5rem 1vw 2rem 1vw;
  input {
    margin-bottom: 1rem;
  }

  .send-btn {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.3s;
    justify-content: center;
    // max-width: 20rem;
    width: 100%;

    @include respond(sm) {
      width: 20rem;
    }

    .btn-spinner {
      position: absolute;
      transform: scale(0) translateX(10rem);

      opacity: 0;

      &.is-sending {
        transform: scale(1) translateX(10rem);
        opacity: 0.7;
      }
    }
  }
}
