.footer {
  margin-top: 5rem;
  background: linear-gradient(
    50deg,
    rgba(52, 58, 64, 1) 23%,
    rgba(63, 65, 68, 1) 61%,
    rgba(74, 76, 77, 1) 79%
  );

  @include respond(md) {
    background: linear-gradient(
      50deg,
      rgba(52, 58, 64, 1) 23%,
      rgba(87, 88, 89, 1) 61%,
      rgba(74, 76, 77, 1) 79%
    );
  }

  &__copyright,
  &__links {
    color: #b8b8b8;
    font-weight: 400;
  }

  &__copyright {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    display: flex;

    @include respond(md) {
      text-align: left;
    }
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.25rem;

    @include respond(md) {
      justify-content: flex-end;
      margin-bottom: 0;
    }

    a {
      color: #b8b8b8;

      @include respond(md) {
        &:not(:first-of-type) {
          margin-left: 2rem;
        }
      }

      &:hover {
        color: white;
        transition: color 0.3s;
      }
    }
  }
}
