.footer {
  margin-top: 5rem;
  &__copyright,
  &__links {
    color: #b8b8b8;
    font-weight: 400;
  }

  &__copyright {
    text-align: center;
    display: flex;

    @include respond(md) {
      text-align: left;
    }
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.25rem;

    @include respond(md) {
      justify-content: flex-end;
      margin-bottom: 0;
    }

    a {
      color: #b8b8b8;

      @include respond(md) {
        &:not(:first-of-type) {
          margin-left: 2rem;
        }
      }

      &:hover {
        color: white;
        transition: color 0.3s;
      }
    }
  }
}
