.other-posts-footer {
  border-top: 1px solid rgba(46, 46, 46, 0.15);
  margin-top: 4vmax;
  padding-top: 5rem;

  // OtherPostFooter
  .post {
    @media (max-width: 768px) {
      padding-left: 9.5vw;
    }

    margin-top: 3rem;
    margin-bottom: 3rem;

    &__img-container {
      display: flex;
      align-items: center;

      &__img {
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vw;

        width: 40vw;

        @include respond(sm) {
          height: 20rem;
          width: 20rem;
        }

        @include respond(xl) {
          height: calc(3rem + 8vw);
          width: calc(3rem + 8vw);
        }

        background-position: center;
      }
    }

    &__labels {
      margin-left: calc(1.25rem + 4vw);
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include respond(xl) {
        margin-left: 1.5rem;
      }

      word-wrap: break-word;

      &--date {
        text-transform: uppercase;
        color: rgba(46, 46, 46, 0.5);
        font-weight: 600;
        line-height: calc(0.65rem + 1vw);
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 0.08rem;
        text-transform: uppercase;
        color: #afafaf;
      }

      &--title {
        margin-top: 2rem;
        line-height: 2rem;
        opacity: 0.9;

        @include respond(md) {
          margin-top: 0.75rem;
          line-height: calc(0.65rem + 1vw);
        }

        &:hover {
          cursor: pointer;
          opacity: 1;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        }
      }

      &--hashtags {
        margin-top: 2rem;
        font-size: 1.3rem;

        word-wrap: break-word;
        color: rgba(46, 46, 46, 0.5);
        line-height: 2rem;
        font-weight: 500;
      }

      &--read-more {
        cursor: pointer;
        display: inline-block;
        font-weight: 500;
        margin-top: calc(1.2rem + 0.5vw);
        font-size: 1.4rem;
        color: #2f2f2f;
        text-decoration: underline;
      }
    }
  }
}
