.comments {
  margin: auto;
  margin-top: 7rem;

  &__heading {
    p {
      @include standard-font;
    }
  }

  ul {
    .comment {
      margin: auto;
      margin-top: 5rem;
      margin-bottom: 5rem;

      &__author-avatar {
        width: 7rem;
        height: 7rem;
        margin-right: 3.5rem;
        border-radius: 50%;
      }

      &__label {
        margin-bottom: 0.5rem;
      }

      &__msg {
        @include standard-font;
      }
    }
  }

  &__reply {
    &--heading {
      margin-top: 8rem;
      margin-bottom: 5rem;
    }

    &--form {
      margin: auto;
      margin-bottom: 20rem;

      div {
        display: flex;

        img {
          width: 7rem;
          height: 7rem;
          margin-right: 3.5rem;
          border-radius: 50%;
        }
      }

      button {
        float: right;
        margin-top: 4rem;
      }
    }
  }
}
