.delete-modal_overlay {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 900;
  background-color: rgba(255, 255, 255, 0.5);

  &.is-open {
    z-index: 1;
    opacity: 1;
  }

  z-index: -1;
  opacity: 0;
}

.delete-modal {
  transition: 0.2s;
  transform: translateY(0%) scale(0.65);
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 30rem;
  margin: auto;

  &.is-open {
    transition-delay: 0.1s;
    transform: translateY(-60%) scale(1);
  }

  &__header {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 1rem;

    &--title {
      font-weight: 600;
      font-size: 1.75rem;
    }

    .close-icon {
      position: absolute;
      right: 0.25rem;
    }
  }

  &__content {
    padding: 1rem;
    text-align: center;

    p {
      margin-bottom: 1rem;
    }

    button {
      margin-top: 1rem;
      margin-bottom: 1rem;

      background-color: transparent;
      padding: 0.5rem 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.3);
      transition: border 0.3s;
      border-radius: 2px;
      font-size: 1.25rem;
      margin-bottom: 1.2rem;
      vertical-align: middle;
      width: max-content;

      &:first-of-type {
        margin-right: 1rem;
      }

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.65);
      }
    }
  }
}
