.my-modal {
  position: absolute;
  transition: 0.2s;
  transform: scale(0.65);

  &.is-open {
    transition-delay: 0.1s;
    transform: scale(1);
  }

  &__overlay {
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &__content {
    margin: auto;
    background-color: #fff;

    width: 50vw;
    min-width: 30rem;
    max-width: 50rem;
    height: 27.5rem;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

    &--close {
      opacity: 0.7;
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      &:hover {
        opacity: 0.9;
      }
    }

    &--section {
      &--title {
        font-size: 3.5rem;
        @include respond(lg) {
          font-size: 4.5rem;
        }
        font-family: $google-font;
        margin-bottom: 3rem;
      }

      &--msg-1 {
        color: rgba(46, 46, 46, 0.75);
        margin-bottom: 2rem;
        font-size: 1.75rem;
        font-family: 'Open Sans Condensed', 'Lucida Grande',
          'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
      }

      &--btn-1,
      &--btn-2 {
        background-color: transparent;
        padding: 0.5rem 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.3);
        transition: border 0.3s;
        border-radius: 2px;
        font-size: 1.25rem;
        margin-bottom: 1.2rem;
        vertical-align: middle;
        width: max-content;

        &:hover {
          border: 1px solid rgba(0, 0, 0, 0.65);
        }
      }
    }
  }
}
