.b-shadow {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.nav-md {
  margin: 3rem 0;
  background-color: $bg-clearwhite;
  padding: 0 10vw;

  @include respond(md-lg) {
    padding: 0 18vw;
  }

  @media (min-width: 937px) {
    padding: 0 21vw;
  }

  @include respond(lg) {
    padding: 0 25vw;
  }

  a {
    text-transform: uppercase;
    font-weight: 500;

    opacity: 0.7;

    &:hover {
      opacity: 0.85;
    }

    &.active {
      opacity: 1;
    }
  }
}

// small nav
.nav {
  z-index: 9999;
  width: 100%;

  background-color: $bg-clearwhite;

  &__checkbox {
    display: none;
  }

  &__btn {
    cursor: pointer;
  }

  // ICON
  &__icon {
    position: relative;
    margin: 2rem 0;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $elegant-color-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';

      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__btn:hover &__icon::before {
    top: -1rem;
  }

  &__btn:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  &__links {
    display: none;
    z-index: 9999;
    opacity: 0;

    position: absolute;

    left: 0;
    right: 0;

    margin: 4.2rem auto 0 auto;
    padding-top: 1.5rem;

    transition: all 0.2s;

    height: 0rem;
    max-width: 30rem;

    text-align: center;
    background-color: $bg-clearwhite;
    box-shadow: 0px 11px 9px rgba(33, 33, 33, 0.2);

    @include respond(sm) {
      width: 70vw;
    }

    a,
    span {
      font-weight: 500;
      line-height: 4rem;
      text-transform: uppercase;
      margin-bottom: 1.1rem;
      cursor: pointer;
    }
  }

  &__checkbox:checked ~ &__links {
    height: auto;
    opacity: 1;
    display: inline-grid;
  }

  &__social-links {
    padding-bottom: 1rem;
    max-width: 20rem;
    justify-self: center;
    a {
      margin: 0 1.5rem;
    }
  }
}
