.other-posts-footer {
  border-top: 1px solid rgba(46, 46, 46, 0.15);
  margin-top: 4vmax;
  padding-top: 5rem;

  .post {
    @media (max-width: 768px) {
      padding-left: 9.5vw;
    }

    margin-top: 3rem;
    margin-bottom: 3rem;

    figure {
      background-size: cover;
      background-repeat: no-repeat;
      width: 20rem;
      height: 20rem;

      @include respond(xl) {
        width: calc(3rem + 8vw);
        height: calc(3rem + 8vw);
      }

      background-position: center;
    }

    .right-col {
      margin-left: 7vw;
      @include respond(md) {
        margin-left: 1.5rem;
      }

      word-wrap: break-word;
      overflow: hidden;

      .date {
        margin-top: 1rem;
        text-transform: uppercase;
        @include standard-font;

        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 0.08rem;
        text-transform: uppercase;
        color: #afafaf;
      }

      .title {
        margin-top: 0.75rem;
        line-height: 2rem;
        opacity: 0.9;

        &:hover {
          cursor: pointer;
          opacity: 1;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        }
      }

      .hashtags {
        margin-top: 2rem;
        font-size: 1.3rem;
        overflow: hidden;
        word-wrap: break-word;
        color: rgba(46, 46, 46, 0.5);
        overflow: hidden;
        line-height: 2rem;
        font-weight: 500;
      }

      .read-more {
        display: inline-block;
        font-weight: 500;
        margin-top: 3rem;
        font-size: 1.4rem;
        color: #2f2f2f;
        text-decoration: underline;
      }
    }
  }
}
