.profile-image {
  height: 30rem;
  width: 30rem;

  border-radius: 50%;

  &.aside-home {
    transform: translateY(-20rem);
    margin-bottom: -18rem;
  }

  box-shadow: 0px -9px 37px rgb(255, 255, 255);
  border: 5px solid rgba(255, 255, 255, 0.1);
}

.subscribe-text {
  &--primary {
    font-family: $google-font;
    font-size: 5rem;
  }
  &--secondary {
    color: $light-font;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 0.5;
  }
}

.about {
  margin-top: 10rem;
  margin-bottom: 3rem;

  &__name {
    margin-bottom: 2rem;
    font-size: 2.5rem;

    line-height: 4rem;
  }

  &__content {
    @include standard-font;
  }
}
