// MEDIA QUERY MANAGER

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == md {
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    // Large devices (desktops, 992px and up)
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }

  @if $breakpoint == xl {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
