// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == md {
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == md-lg {
    // Medium-Large devices (882px and up)
    @media (min-width: 882px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      @content;
    } //1800
  }

  @if $breakpoint == xl {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin page-title-font {
  font-family: 'Shadows Into Light', cursive;
  font-size: 5rem;
}

@mixin standard-font {
  color: $light-font;
  font-weight: 600;
  line-height: 3rem;
}

@mixin light-to-dark {
  cursor: pointer;
  transition: color ease-in-out 0.2s;
  color: rgba(46, 46, 46, 0.9);
}
