// COLORS
$bg-clearwhite: rgba(255, 255, 255, 0.95);
$light-font: rgba(46, 46, 46, 0.4);

// DARK THEME BOOTSTRAP COLORS
$light-grey: #6c757d;

$elegant-color-dark: #212121;
$elegant-color: #2e2e2e;

$special-color: #37474f;
$special-color-dark: #263238;

// FONT
$google-font: 'Shadows Into Light', cursive;
$default-font-size: 1.6rem;
