@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/base';
@import 'base/modifybootstrap.scss';

@import 'pages/home';
@import 'pages/post';

@import 'components/navbar';
@import 'components/header';
@import 'components/footer';

@import 'components/modal';
@import 'components/subscribe';
