.contact {
  .aside-contact {
    transform: translateY(-15rem);
    margin-bottom: -13rem;
  }

  &__cover-img {
    margin-top: 3rem;
    background-image: url('../../assets/dad.art.jpg');
    background-size: cover;
    height: 40rem;

    @include respond(md) {
      margin-left: 4vw;
      margin-right: 4vw;
    }
  }
}
