.home-page {
  margin-top: 3rem;

  .cover-image {
    background-image: url('../../assets/bg.jpg');
    // background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center 80%;

    background-repeat: no-repeat;
    height: 40rem;

    @include respond(sm) {
      height: 45rem;
    }
    @include respond(md) {
      height: 50rem;
      margin: 0 4vw;
    }
    @include respond(lg) {
      height: 55rem;
    }
    @include respond(xl) {
      // height: 40rem;
    }
  }
}
