.posts {
  margin-top: 10rem;
  margin-bottom: 15rem;
  overflow: hidden;

  &__page-title {
    @include page-title-font;
    text-align: center;
    margin-bottom: 5rem;
  }

  .post {
    padding: 5rem 0rem 5rem 0rem;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    &__img-col {
      overflow: hidden;

      figure {
        height: 30rem;
        width: 100%;
        margin-bottom: 5rem;

        @include respond(md) {
          height: 25rem;
          width: 25rem;
          margin-bottom: 0;
        }

        background-size: cover;
        background-position: center;
      }
    }

    &__content-col {
      @include respond(md) {
        padding-left: 5rem;
      }

      &--title {
        font-size: 2.5rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        opacity: 0.9;
        transition: all ease-in-out 0.2s;

        &:hover {
          cursor: pointer;
          opacity: 1;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        }
      }

      &--body::first-letter {
        text-transform: uppercase;
      }

      &--body,
      &--hashtags {
        @include standard-font;
      }

      &--hashtags {
        @include standard-font;
        display: flex;
        margin-bottom: 3rem;
        flex-wrap: wrap;
        margin-top: 2rem;

        span {
          margin-right: 1rem;

          @include respond(md) {
            margin: 1rem 1rem 0rem 0;
          }
        }
      }

      &--read-more {
        font-weight: 500;
        font-size: 1.8rem;
        color: #2f2f2f;
        text-decoration: underline;

        p {
          opacity: 0.8;

          &:hover {
            opacity: 1;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
}
