.about {
  padding-bottom: 10rem;

  &__page-title {
    @include page-title-font;
    text-align: center;
  }

  &__hashtags {
    display: flex;
    justify-content: center;
    margin: 2rem;
    @include standard-font;
    font-size: 2.1rem;
    word-spacing: 3rem;
  }

  &__img {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  &__body {
    text-align: justify;
    text-indent: 30px;
  }
}
