.contact {
  .aside-contact {
    transform: translateY(-15rem);
    margin-bottom: -13rem;
  }

  &__cover-img {
    background-image: url('../../assets/dad.art.jpg');
    background-size: cover;
    height: 40rem;

    @include respond(md) {
      margin: 0 4vw;
    }
  }

  .contact-section {
    &__title {
      margin: 3rem 0 4rem 0;
      font-family: 'Shadows Into Light', cursive;
      font-size: 5rem;
      text-align-last: center;
    }

    &__body {
      @include standard-font;
    }

    &__social-links {
      display: block;
      margin: 3.5rem 1vw 2rem 1vw;

      i {
        margin-right: 5vw;
        color: $light-font;
        font-size: 2rem;

        &:hover {
          @include light-to-dark;
        }
      }
    }

    &__form {
      margin: 3.5rem 1vw 2rem 1vw;
      input {
        margin-bottom: 1rem;
      }

      button {
        margin-top: 5rem;
      }

      &--requiremsg {
        margin-top: 2.5rem;
        margin-bottom: 5rem;
        @include standard-font;

        a {
          @include standard-font;
          &:hover {
            text-decoration: underline;
            @include light-to-dark;
          }
        }
      }
    }
  }
}
