.home-page {
  .cover-image {
    background-image: url('../../assets/cover.jpg');
    background-size: cover;
    position: relative;
    background-position: top;
    background-repeat: no-repeat;

    height: 40rem;
    @include respond(sm) {
      height: 45rem;
    }
    @include respond(md) {
      height: 50rem;
      margin: 0 4vw;
    }
    @include respond(lg) {
      height: 55rem;
    }
    @include respond(xl) {
      height: 60rem;
    }
  }
}
