.home-page {
  .cover-image {
    background-image: url('../../assets/cover.jpg');
    background-size: cover;
    position: relative;
    background-position: top;
    background-repeat: no-repeat;

    height: 40rem;
    @include respond(sm) {
      height: 45rem;
    }
    @include respond(md) {
      height: 50rem;
      margin: 0 4vw;
    }
    @include respond(lg) {
      height: 55rem;
    }
    @include respond(xl) {
      height: 60rem;
    }
  }

  article {
    .recent-posts {
      margin: 3rem 0 4rem 0;
      font-family: $google-font;
      font-size: 5rem;
      text-align-last: center;
    }

    .post {
      margin-top: 6rem;
      margin-bottom: 10rem;

      &__date,
      &__hash-tags {
        color: $light-font;
        font-weight: 600;
      }

      &__date {
        text-transform: uppercase;
      }

      &__title {
        font-size: 3.5rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
      }

      &__hash-tags {
        li {
          margin: 0 1rem;
        }
      }

      &__img {
        max-height: 45rem;
        margin-top: 3rem;
        max-width: 100%;

        @include respond(sm) {
          max-height: 55rem;
        }

        @include respond(md) {
          max-height: initial;
        }
      }

      &__body {
        margin-top: 1rem;
        line-height: 3rem;
        color: $light-font;
        font-weight: 600;
      }

      &__footer {
        margin-top: 3rem;

        &--comments {
          color: $light-font;
          font-weight: 600;
          margin-left: 3rem;
          transform: translateY(1.1rem);
        }
      }
    }
  }

  aside {
    .other-posts {
      &__title {
        line-height: 2rem;
      }

      &__img {
        margin-bottom: 3rem;
        width: 27rem;
      }

      &__date {
        font-weight: 600;
        color: $light-font;
      }

      &__hashtags {
        margin-top: 1rem;
        font-weight: 600;
        color: $light-font;
        li {
          margin-right: 1rem;
        }
      }
    }
  }
}
