.posts {
  margin-top: 10rem;
  margin-bottom: 15rem;
  overflow: hidden;

  &__page-title {
    @include page-title-font;
    text-align: center;
    margin-bottom: 5rem;
  }

  .post {
    padding: 5rem 0rem 5rem 0rem;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    &__img-col {
      overflow: hidden;

      img {
        display: flex;
        align-self: center;
        max-height: 22rem;

        margin: auto;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &__content-col {
      h2 {
        font-size: 2.5rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        opacity: 0.9;
        transition: all ease-in-out 0.2s;

        &:hover {
          cursor: pointer;
          opacity: 1;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        }
      }

      p {
        @include standard-font;
      }
      ul {
        @include standard-font;
        display: flex;

        li {
          margin: 1rem 1rem 1rem 0;
        }
      }
    }
  }
}
