*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

textarea,
select,
input,
button,
button:active {
  outline: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

a {
  color: $special-color;
  &:hover {
    text-decoration: none;
    color: $special-color-dark;
  }
}

hr {
  opacity: 0.6;
  margin: 0 8vw;

  &.wide {
    margin: 0;
  }
}

li {
  list-style-type: none;
}

html {
  overflow-x: hidden;
  font-size: 58%;
  word-spacing: 0.15rem;

  @include respond(sm) {
    font-size: 61%;
  }

  @include respond(md) {
    font-size: 64%;
  }

  @include respond(lg) {
    font-size: 67%;
  }

  @include respond(xl) {
    font-size: 69%;
  }
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: $default-font-size;
}

.btn-txt {
  background: none;
  border: none;
  cursor: pointer;
}

.text-grey {
  color: rgba(46, 46, 46, 0.4);
}

.standard-font {
  @include standard-font;
}

.fw-600 {
  font-weight: 600;
}

.opacity-0 {
  transition: 0.3s;
  opacity: 0;
  width: 0;
}

.opacity-1 {
  transition: 0.3s;
  opacity: 1;
  width: initial;
}

.d-none-important {
  display: none !important;
}

.hov {
  cursor: pointer;
}

span.sign-in {
  @include standard-font;
  &:hover {
    text-decoration: underline;
    @include light-to-dark;
  }
}
