*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

textarea,
select,
input,
button {
  outline: none;
}

a {
  color: $special-color;
  &:hover {
    text-decoration: none;
    color: $special-color-dark;
  }
}

li {
  list-style-type: none;
}

html {
  font-size: 58%;

  @include respond(sm) {
    font-size: 61%;
  }

  @include respond(md) {
    font-size: 64%;
  }

  @include respond(lg) {
    font-size: 67%;
  }

  @include respond(xl) {
    font-size: 69%;
  }
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: $default-font-size;
}

.btn-txt {
  background: none;
  border: none;
  cursor: pointer;
}

.opacity-0 {
  opacity: 0;
  width: 0;
}

.opacity-1 {
  opacity: 1;
  width: initial;
}
