*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

textarea,
select,
input,
button,
button:active {
  outline: none;
}

a {
  color: $special-color;
  &:hover {
    text-decoration: none;
    color: $special-color-dark;
  }
}

hr {
  opacity: 0.6;
  margin: 0 8vw;

  &.wide {
    margin: 0;
  }
}

li {
  list-style-type: none;
}

html {
  font-size: 58%;

  @include respond(sm) {
    font-size: 61%;
  }

  @include respond(md) {
    font-size: 64%;
  }

  @include respond(lg) {
    font-size: 67%;
  }

  @include respond(xl) {
    font-size: 69%;
  }
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: $default-font-size;
}

.btn-txt {
  background: none;
  border: none;
  cursor: pointer;
}

.text-grey {
  color: rgba(46, 46, 46, 0.4);
}

.fw-600 {
  font-weight: 600;
}

.opacity-0 {
  opacity: 0;
  width: 0;
}

.opacity-1 {
  opacity: 1;
  width: initial;
}

.hov {
  cursor: pointer;
}
