:root {
  --danger: #c62f3e;
}

p,
label {
  margin-bottom: 0;
}

.form-control {
  border-radius: 0.1rem;
  font-size: 1.45rem;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: rgba(198, 47, 62, 0.5);
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
}

img,
figure {
  border-radius: 1.5px;
}

.invalid-feedback {
  color: #b02a37;
}

input.form-control:focus,
textarea.form-control:focus {
  border-color: rgba(34, 34, 34, 0.2);
  box-shadow: 0 0 0 0.1rem rgba(34, 34, 34, 0.2);
}

button {
  border-radius: 1.5px;
  border: 0;
}

.btn-primary {
  color: #fff;
  font-weight: 400;

  background-image: linear-gradient(
    to right,
    #151515,
    #3f3f3f,
    #939393,
    #7e7e7e,
    #696969
  );
  border-color: transparent;
  // background-image: linear-gradient(
  //   to right,

  //   #2a2a2a,
  //   #545454,
  //   #3f3f3f
  // );
  background-size: 300% 100%;

  transition: all 0.4s ease-in-out;

  &:hover {
    border-color: transparent;
    background-position: 98% 0;
    transition: all 0.4s ease-in-out;
    outline: none;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 46, 46, 0.5);
  }
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: $elegant-color-dark;
  border-color: $elegant-color-dark;
  box-shadow: 0 0 0 0.2rem rgba(46, 46, 46, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(46, 46, 46, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $elegant-color-dark;
  border-color: $elegant-color-dark;
}

.btn-secondary {
  color: #333333;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px solid #2e2e2e;

  &.disabled,
  &:disabled {
    color: rgba(46, 46, 46, 0.7);
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid rgba(46, 46, 46, 0.2);
    &:hover {
      color: rgba(46, 46, 46, 0.7);
    }
  }

  &:hover {
    color: #333333;
    background-color: #ffffff;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 46, 46, 0.5);
  }
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #333333;
  background-color: #ffffff;
  border-color: #2e2e2e;
}

button:focus {
  outline: 5px auto $elegant-color-dark;
}

// react-notifications modifier
.notification {
  border-radius: 0px;
  opacity: 0.7;
}

.notification-success {
  background-color: #144;
}
